[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "MQSim is a fast and accurate simulator modeling the performance of modern multi-queue (MQ) SSDs as well as traditional SATA based SSDs. MQSim faithfully models new high-bandwidth protocol implementations, steady-state SSD conditions, and the full end-to-end latency of requests in modern SSDs. It is described in detail in the FAST 2018 paper by Arash Tavakkol et al., "
[access "refs/*"]
	owner = group user/Johnny (arafatms)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Johnny (arafatms)
	label-Verified = -1..+1 group user/Johnny (arafatms)
	push = group user/Johnny (arafatms)
	read = group user/Johnny (arafatms)
	rebase = group user/Johnny (arafatms)
	removeReviewer = group user/Johnny (arafatms)
	submit = group user/Johnny (arafatms)
[access "refs/heads/*"]
	create = group user/Johnny (arafatms)
	push = +force group user/Johnny (arafatms)
	pushMerge = group user/Johnny (arafatms)
	read = group user/Johnny (arafatms)
[access "refs/tags/*"]
	push = group user/Johnny (arafatms)
	push = +force group user/Johnny (arafatms)
